body {
    background-color: dimgray;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* TEXT-     CALCULATING THE PRODUCT... */
h2 {
    color: aqua;
    font-size: 1rem;
    margin: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    font-family: 'Patrick Hand';
    letter-spacing: 3px;
}
/* INPUT TEXT BOX     VARIABLE A */
#varA {
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    font-size: 1.5rem;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    border: 2px black solid;
    outline: 1px aqua solid;
    background-color: ivory;
}
/* INPUT TEXT BOX     VARIABLE B */
#varB {
    width: 2.5rem;
    height: 2.5rem;
    color: black;
    font-size: 1.5rem;
    padding: 2px;
    text-align: center;
    overflow: hidden;
    border: 2px black solid;
    outline: 1px aqua solid;
    background-color: ivory;
}
/* TEXT-BOX   ENTER IN VARIABLES A AND B */
#inputs {
    display: block;
    font-size: 1.3rem;
}
/* BUTTON:    THE SUBMIT BUTTON FOR THE ANSWER */
#submitButton {
    width: 20%;
    height: auto;
    padding: 15px;
    font-size: 1.3rem;
    color: black;
    margin-left: 40%;
    margin-right: 40%;
    border: 2px black solid;
    outline: 1px aqua solid;
    background-color: ivory;
}
#foilAnswer {
    width: 30%;
    height: 2.1rem;
    font-size: 1.5rem;
    color: black;
    border: 2px black solid;
    outline: 1px aqua solid;
    background-color: ivory;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
    padding: 10px;
}
footer {
    font-size: 1rem;
    color: black;
    text-shadow: 1px 1px 1px aqua;
    text-align: center;
    font-family: 'Patrick Hand';
}
#realNumbers {
    color: black;
    text
}
#realNumbers:hover {
    color: black;
    font-family: 'Indie Flower', cursive;
}